@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900);.inline-block {
  display: inline-block;
}

#dashboard .col-12 {
  z-index: -1;
}

label.radio-inline {
  margin-right: 20px;
}

#dz.dropzone {
  min-height: 100px;
}

#dz.dropzone .dz-message:before {
  content: none;
}

#dz .dz-message {
  font-size: 15px;
  position: unset;
  height: 50px;
}

.drawtime {
  border-radius: 20px;
  padding: 3px 8px;
  font-size: 13px;
}

.drawtime.time-11 {
  background-color: #3490dc;
  color: #fff;
}

.drawtime.time-16 {
  background-color: #f6993f;
}

.drawtime.time-21 {
  color: #fff;
  background-color: #555555;
}

.bet-item + .bet-item:before {
  content: ", ";
}

.table > tbody > tr > td {
  vertical-align: middle;
}

img.profile-image-thumb {
  width: 60px;
  border-radius: 50px;
}

.form-body .game-row {
  margin: 10px auto;
  padding: 10px 0;
  border-bottom: 1px solid #d3dce9;
}

p.content-sub-header {
  margin-bottom: 0;
}

ul.router-links-menu {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

ul.router-links-menu li {
  margin: 0 20px;
}

ul.router-links-menu li a.router-link-active {
  border-bottom: solid 3px #FF586B;
  padding-bottom: 5px;
}

.vue-switcher-theme--custom.vue-switcher-color--blue div {
  margin-top: 20px;
  background-color: #58ceb1;
}

.vue-switcher-theme--custom.vue-switcher-color--blue div:after {
  background-color: #31a88b;
}

.vue-switcher-theme--custom.vue-switcher-color--blue.vue-switcher--unchecked div {
  background-color: #ffa5af;
}

.vue-switcher-theme--custom.vue-switcher-color--blue.vue-switcher--unchecked div:after {
  background-color: #ff7282;
}

html .swal2-popup.width-45 {
  width: 45em;
}

html .swal2-popup .table th {
  font-weight: 500;
  font-size: 16px;
}

.swal2-container.popup-profile img.swal2-image {
  border-radius: 100px;
  margin-bottom: 5px;
}

.swal2-container.popup-profile #swal2-content p {
  text-align: right;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #d3dce9;
  padding-bottom: 10px;
  margin-top: 10px;
}

.swal2-container.popup-profile #swal2-content p strong {
  text-align: left;
  float: left;
  font-weight: 500;
}

.swal2-container.popup-profile #swal2-content p:last-child {
  border: none;
}

.swal2-container.popup-profile #swal2-content .ticket > p {
  width: 100%;
}

.swal2-container.popup-profile #swal2-content .ticket > p:last-child {
  margin-bottom: 25px;
}

.draw_details {
  margin-bottom: 10px;
}

.draw_details p {
  display: inline;
  margin-right: 20px;
}

.table.bg-morning {
  background-color: rgba(52, 144, 220, 0.4);
}

.table.bg-afternoon {
  background-color: rgba(246, 153, 63, 0.5);
}

.table.bg-night {
  background-color: rgba(85, 85, 85, 0.4);
}

.swal2-container.popup-control .swal2-popup {
  width: 90%;
}

.swal2-container.popup-control .tab-wrapper {
  overflow: auto;
  padding: 5px;
}

.swal2-container.popup-control .tab-wrapper > .row {
  min-width: 1000px;
  margin: 0;
}

.toasted.success {
  color: #fff !important;
}

span.added {
  color: #3490dc;
}

span.added span.remove {
  color: #e3342f;
  cursor: pointer;
}

.dp-fullwidth {
  padding-right: 0 !important;
}

.dp-fullwidth .mx-datepicker {
  width: 100%;
}

span.amount {
  color: #4dc0b5;
}

span.amount.negative {
  color: #e3342f;
}

span.amount.strong {
  color: #38c172;
}

.underline {
  text-decoration: underline !important;
}

.filter-buttons {
  display: flex;
}

.filter-buttons button {
  align-self: flex-end;
  margin-bottom: 0 !important;
  margin-right: 10px;
}

.form.addbet {
  padding: 10px;
}

.form.addbet input.focused_input {
  color: #000;
  background-color: rgba(62, 142, 65, 0.4);
}

.keypad-wrapper {
  width: 100%;
  margin: 0 auto !important;
}

.keypad-wrapper .kbtn {
  float: left;
  width: 33.3%;
  text-align: center;
  cursor: pointer;
  padding: 5px !important;
  border: none !important;
}

.keypad-wrapper .kbtn span {
  transition-duration: 0.1s;
  display: block;
  border: 1px solid #ccc;
  line-height: 40px;
  border-radius: 3px;
}

.keypad-wrapper .kbtn.sbtn {
  width: 50%;
  float: left;
}

.keypad-wrapper .kbtn:active span {
  color: #fff;
  background-color: #3e8e41;
  transform: translateY(4px);
}

